*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main{
    position: relative;
    overflow: hidden;
    background-color: #000;
}

#page1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}
#page1 h1{
    font-size: 2rem;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}

#page2{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#page2>canvas{
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}
